@charset "UTF-8";
/*全体のスタイル*/
html{
  margin:0px 15%;
}



/*headerのスタイル*/
header{
  display: flex;
  margin: 100px 0px;
}

.logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.company-name{
  margin: 13px 0px 0px 10px;
  font-weight: bold;
  font-size: 18px;
}

/*sectionのスタイル*/
section{
  margin-bottom: 150px;
}

#top{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 45px;
  font-weight: bold;
}

#text-left{
  text-align: left;
  margin-bottom: 150px;
}

#text-right{
  text-align: right;
  margin-right: 100px;
}

/*---------service-----------*/

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-img{
  text-align: center;
  margin: 50px 0px 70px 0px;
}

.service-pic{
  width: 70%;
  height: 500px;
}

.service-coment{
  text-align: center;
}

span{
  font-weight: bold;
}

.service-page{
  text-align: center;
  margin-top: 10px;
}

.page{
  text-decoration: none;
  color: black;
  background-color: lightpink;
  border: 2px solid lightgreen;
  font-weight: bold;
}

/*---------team-----------*/

.member{
  display: flex;
  justify-content:space-around;
}

.team{
  display: flex;
  margin-bottom: 50px;
}

.personal-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.personal-file1,.personal-file2{
  margin: 30px 0px 0px 30px;
}

.position{
  font-weight: bold;
}

.name{
  font-size: 20px;
}

.Twitter,.Facebook{
  text-decoration: none;
  font-weight: bold;
}

.Twitter{
  color: rgb(66, 160, 237);
}

.Facebook{
  margin-left: 5px;
  color: blue;
}

/*---------company-------*/

.comp{
  padding:0 20px;
  width: 50%;
  text-align: center;
}

.comp td{
  font-size: 14px;
  padding: 24px;
}

.left{
  font-weight: bold;
}

.company-name2,.ceo,.busines{
  background-color:rgb(219, 222, 226);
}

/*--------contact----------*/
#contact{
  text-align: center;
}


/*--------footer---------*/
footer{
  background-color: black;
  text-align: center;
  height: 30px;
}

.footer{
  color: white;
}

.port{
  border-collapse:separate;
  border-spacing: 5px;
  width: 70%;
  position: relative;
  left: 160px;
}

.port th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

.port th{
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

.port td{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
}

/*------レスポンシブ---------*/
@media screen and (max-width: 1024px) {
  html{
    margin: 0px 10%;
  }

  #top{
    font-size: 5vw;
  }

  .text-right{
    margin: 0
  }

}


@media screen and (max-width: 768px) {
  html{
    margin: 0px 5%;
  }

  .title{
    text-align: center;
    font-size: 4vw;
  }

  .member{
    display: block;
  }

  .personal-img{
    margin-left: 20%;
  }

  .comp{
    width: 70%;
  }
  .port {
    width: 100%;
    position: relative;
    left: 0;
  }

}

@media screen and (max-width: 480px) {

  html{
    margin: 0px;
  }

  .logo{
    margin-left: 20px;
  }

  #top{
    font-size: 4VW;
  }

  #text-left{
    margin-bottom: 75px;
  }

  #text-right{
    text-align:center;
    margin-right: 0;
  }

  .service-pic{
    width: 90%;
    height: 300px;
  }

  .personal-img{
    margin-left: 10%;
  }

  .comp{
    width: 85%;
  }
  .port {
    width: 100%;
    position: relative;
    left: 0;
  }
}
















z
