@charset "UTF-8";


/*------------------------*/
/*     全体のスタイル     */
/*------------------------*/
*{
	margin: 0px;
	padding: 0px;
}

body{
  background: #fff;
  color: #000;
  font-size: 12px;
  font-family: “ＭＳ Ｐゴシック”, Osaka, “ヒラギノ角ゴ Pro W3”;
	line-height: 1.5em;
}

a{
  color: #000;
  text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
}

img,video{
	vertical-align: bottom;
}

a img {
  border-width: 0px;
  border-style: none;
  border-color: #000;
}

a:hover {
  text-decoration: none;
}

.flexbox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

/*------------------------*/
/*         header         */
/*------------------------*/
.header-nav{
width: 90%;
position: fixed;
top: 50px;
left:5%;
background-color: white;
line-height: 60px;
text-align: center;
-webkit-box-shadow: 0px 1px 50px -8px rgb(200,200,200);
        box-shadow: 0px 1px 50px -8px rgb(200,200,200);
z-index: 1;
}

.top-title{
	width: 15%;
}

.header-list{
	width: 60%;
}

.header-list li{
	width: 19%;
	border-bottom: 5px solid #fff;
	-webkit-transition:0.5s;
	transition:0.5s;
}

.header-list li:hover{
	border-bottom: 5px solid rgb(200,200,200);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.first-view{
	position: relative;
}

.first-view p{
	position: absolute;
	top:50%;
	left:10%;
	font-size: 50px;
	line-height: 2em;
	color: #fff;
}

.first-view video{
	width: 100%;
}

.mg60{
	margin-bottom: 60px;
}



/*------------------------*/
/*          feature       */
/*------------------------*/
.feature-content{
	width: 50%;
	position: relative;
	margin: 30px 0 0 30px;
}

.feature-content img{
	width: 100%;
}

.feature-text{
  position: absolute;
	top:50%;
	right: -50%;
	-webkit-transform: translate(0,-50%);
	        transform: translate(0,-50%);
	width: 80%;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 50px -8px rgb(200,200,200);
	        box-shadow: 0px 1px 50px -8px rgb(200,200,200);
	text-align: center;
	padding:30px 0;
}

.feature-text h2{
	padding-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

.feature-text p{
	padding:0 30px 30px;
	font-size: 16px;
}

.feature-button{
	position: relative;
	display: block;
	width: 160px;
	padding:10px 0;
	text-align: center;
	background-color: #fff;
	border:solid 1px #000;
	overflow: hidden;
	margin: 0 auto;
}

.feature-button:before{
	content: "";
	position: absolute;
	top:0px;
	left: -160px;
	height: 90px;
	width: 160px;
	background: green;
	opacity: 0.3;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.feature-button:hover:before{
	left: 0;
}


/*------------------------*/
/*      	concept         */
/*------------------------*/
.concept{
	background-color: rgba(200,200,200,0.5);
	position: relative;
}

.concept-title{
	font-size: 80px;
	position: absolute;
	top: -5%;
  right: 10%;

}

.concept-content p{
  font-size: 16px;
	width: 40%;
	margin: 0 auto;
	padding:60px 0;
}

.concept-content .concept-sub-title{
	text-align: center;
	font-size: 40px;
	line-height: 1em;
	padding-top:60px;
}

.concept-content .concept-sub-title-jp{
	padding: 0;
	text-align: center;
}

/*------------------------*/
/*        brand           */
/*------------------------*/
.brand-title{
	font-size: 80px;
	text-align: center;
	margin-bottom: 60px;
}

.brand-contain{
	width: 30%;
	margin-bottom: 30px;
}

.brand-content{
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.brand-content img{
	width: 100%;
	height:100%;
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.brand-word{
	display: block;
	font-size: 50px;
	text-shadow: 1px 1px 3px #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.brand-content a:hover img{
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition:all .3s ease;
	transition:all .3s ease;

}

.brand-content img{
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

/*------------------------*/
/*         contact        */
/*------------------------*/
.contact{
	background-color: rgb(137, 142, 144);
	position: relative;
}

.contact-title h2{
	font-size:80px;
	position: absolute;
	top:10%;
}

.form-left{
	margin-top: 200px;
	text-align: center;
	margin-left: 20%;
}



.contact-us-head{
	font-size: 15px;
}

.contact-us-data{
	margin-bottom:30px;
}

.form-right{
	margin-top:150px;
	margin-right: 5%;
}

.contact-label{
	margin-bottom: 10px;
}

input{
	width: 100%;
}

textarea{
	width: 100%;
}

.form-btn{
	width: 10%;
	height: 30px;
	margin: 0 auto;
  margin-bottom: 30px;
}

/*footerのスタイル*/
#footer{
  padding:10px 0;
	background-color: rgb(42, 40, 42);
}

small{
	color: white;
	display: block;
	text-align: center;
}
