body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
img {
  width: 50%;
}
.title h2 {
  font-family: 'Times New Roman';
  font-size: 100px;
}
.title p {
  font-size: 120%;
  font-weight: 700;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(http://www.neaf.info/images/slider2.jpg);
  background-size: cover;
  text-align: center;
  width: 100%;
}
.yoyaku a {
  color: black;
  transition: all 0.5s;
  font-weight: 900;
  font-size: 120%
}
.yoyaku a:hover {
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.3);
}
footer {
  padding-left: 360px;
}

.tizu {
  float: left;
}
footer p {
  position: relative;
  left: 20px;
}

main {
  position: relative;
  left: 25%;
}
.dai {
  text-align: center;
}
.tag {
  text-align: center;
  padding: 30px;
  background-color:black;
}
.tag a{
  padding-left: 10px;
  color: white;
  transition: all 0.5s;
}
.tag a:hover {
  opacity: 0.7;
}
